<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template HTML/CSS</title>
    <link rel="stylesheet" href="/template/style.css">
    <link rel="stylesheet" href="media-queries.css">
</head>
<body>
    <div id="bg">
        <div id="main">
            <header>
                <section id="header_top">ht</section>
                <section id="header_centre">hc</section>
                <section id="header_bottom">hb</section>
            </header>
            <section id="left">
                <div class="news">
                    <div class="primary_news">
                        <img src="/image/douche.jpg" alt="Photo de douche"/>
                        <h3>douche</h3>
                        <p>auteur</p>
                    </div>
                    <div class="secondary_news">
                        <img src="/image/personnage.png" alt="Photo de personnage"/>
                        <h4>Titre</h4>
                    </div>
                    <div class="secondary_news">
                        <img src="/image/personnage.png" alt="Photo de personnage"/>
                        <h4>Titre</h4>
                    </div>
                    <div class="secondary_news">
                        <img src="/image/personnage.png" alt="Photo de personnage"/>
                        <h4>Titre</h4>
                    </div>
                </div>
            </section>     
            <section id="right">r</section>
            <div class="clearfix"></div>
            <footer>b</footer>
        </div>
    </div>
</body>
</html>